html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-base;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.28;
    color: $main-text-color;
    background: $background;
    display: flex;
    flex-direction: column;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: $transition-duration;
}

h1,h2 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 24px; 
}