.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.overflow-hidden {
    overflow: hidden;
}

.display-none {
    display: none !important;
}

.hidden-mobile {
    @include tablet {
        display: none !important;
    }
}

.visible-mobile {
    @include tablet-above {
        display: none !important;
    }
}

.title {
    font-weight: 700;
    font-size: 68px;
    line-height: 75px;

    &__span {
        word-spacing: 2px;
        color: $accent-title-color;
    }

    &__span--small {
        color: inherit;
        font-size: 62px;
        letter-spacing: -4.7px;
    }
}

.text {
    line-height: 29px; 
}