$main-text-color: #826F8C;
$accent-text-color: #446381;
$accent-title-color: #EB8382;
$light-color: #fff;

$blue: #355070;
$purple: #6d597a;
$pink: #b56576;
$pink-alt: #e56b6f;
$gray-yellow: #eaac8b;

$background: #ffe6d7;
$background-btn: linear-gradient(130deg, #4499d9 0%, #6e6cc1 100%);
$background-plan-card: #fbdacf;
$accent-background-plan-card: linear-gradient(180deg, #446381 0%, #826f8c 100%);

$border-radius: 20px;
$border-radius-small: 10px;
$border-radius-extra: 25px;

$font-family-base: 'Josefin Sans', sans-serif;

$button-height: 50px;

$transition-duration: 0.2s;