.burger-menu {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: absolute;
    right: 0;
    transition: 0.6s;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 7px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
    }

    span {
        width: 100%;
        height: 3px;
        background-color: #000;
    }
}

.burger-menu--active {
    span {
        display: none;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 18px;
        left: 0;
        transform: rotateZ(45deg);
        background-color: #000;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 18px;
        left: 0;
        transform: rotateZ(-45deg);
        background-color: #000;
    }
}

.mobile-menu {
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        nav {
            width: 100%;

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: center;
    
                li {
                    width: 30%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .button {
            width: 200px;
        }
    }
}

@include mobile {
    .burger-menu  {
        position: absolute;
    }

    .mobile-menu {
        &__wrapper {
            nav {
                ul {
                    li {
                        width: 100%;
                    }
                }
            }
        }
    }
}